<div class="background">
  <div class="bgc">
    <div class="color">
    <h1 style="font-size: xx-large; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">On Demand Car Wash System</h1>
    </div>
    <div class="a">
    <div class="insider">
       <h2 style="font-size:x-large;">Continue as</h2>
       <a routerLink="/admin/login"><button class="btn btn-one" style="font-size:x-large; color:aqua"><img src="../../../assets/adminlogo.png" alt="logo" class="logo"> Admin </button></a><br>
       <a routerLink="/customer/login"><button class="btn btn-one" style="font-size:x-large; color:tomato"><img src="../../../assets/userlogo.png" alt="logo" class="logo"> User</button></a><br>
       <a routerLink="/carwasher/login"><button class="btn btn-one" style="font-size:x-large; color:gold"><img src="../../../assets/washerlogo.png" alt="logo" class="logo"> Car Washer</button></a>
    </div>
    </div>
  </div>
</div>
