<div class = "background">
<div class="jumbotron">
  <h1>Hello {{username}},Welcome</h1>
  <br>
    <li><a routerLink="/admin/addpack"><p>Add Pack</p></a></li>
    <li><a routerLink="/admin/addwasher"><p>Add Washer</p></a></li>
    <li><a routerLink="/admin/addrating"><p>Add Rating</p></a></li>
    <li><a routerLink="/admin/alladmins"><p>View Admins</p></a></li>
    <li><a routerLink="/admin/allwashers"><p>View Washers </p></a></li>
    <li><a routerLink="/admin/allpacks"><p>View Packs</p></a></li>
    <li><a routerLink="/admin/allratings"><p>View Ratings </p></a></li>
    <li><a routerLink="/admin/login" (click)="logout()"><p>Log Out</p></a>

</div>
</div>