<form [formGroup]="orderForm" >
<br><br><br><br>
<br>
<br>
<br>
<br>
<br>
<br>
  <h3>Place New Order Here</h3>
    
    <label for="name"><span> Enter Name of Customer </span>
      <input type="text" placeholder="user name" formControlName="name"  [(ngModel)]="name">
      </label>
      <div *ngIf="orderForm.controls['name'].invalid && orderForm.controls['name'].touched" class="alert alert-danger">
        <div *ngIf="orderForm.controls['name'].errors">
        Name is required.
      </div>
      </div>

    <label for="userid"><span> Enter user ID </span>
      <input type="text" placeholder="user id" formControlName="userid" [(ngModel)]="order.userId">
    </label>

  
    <label for="orderId"><span> Enter order ID </span>
      <input type="text" placeholder="order id" formControlName="orderId" [(ngModel)]="order.orderId">
    </label>
  
  
    <label for="phoneNo"><span> Enter Phone Number </span>
      <input type="text" placeholder="enter valid ten digit mobile number" formControlName="phoneNo" [(ngModel)]="order.phoneNo">
      </label>
      <div *ngIf="orderForm.controls['phoneNo'].invalid && orderForm.controls['phoneNo'].touched" class="alert alert-danger">
        <div *ngIf="orderForm.controls['phoneNo'].errors">
        Enter valid ten digit number
      </div>
      </div>

    <label for="time"><span> Enter Date </span>
      <input type="date" placeholder="date" formControlName="date" [(ngModel)]="order.date">
  </label>
  
  
    <label for="washerName"><span> Enter Washer Name</span>
      <input type="text" placeholder="washer name" formControlName="washerName" [(ngModel)]="order.washerName">
  </label>
  <div *ngIf="orderForm.controls['washerName'].invalid && orderForm.controls['washerName'].touched" class="alert alert-danger">
    <div *ngIf="orderForm.controls['washerName'].errors">
    Washer Name is required.
  </div>
  </div>

      <label for="washpackId"><span> Enter Wash Pack ID</span>
        <input type="text"  placeholder="pack id" formControlName="washpackId" [(ngModel)]="order.washpackId" (change)="getPrice(order.washpackId)">
      </label>
  
      <label for="carName"><span> Enter Car Name</span>
        <input type="text" placeholder="car name" formControlName="carName" [(ngModel)]="order.carName">
      </label>
    
      <label for="carModel"><span> Enter Car Model</span>
        <input type="text" placeholder="car model" formControlName="carModel" [(ngModel)]="order.carModel">
      </label>

    <!-- <p>cost {{price}}</p> -->
  <button class="mat-button mat-success" (click)="confirm()" [disabled]="orderForm.invalid">Place Order</button>
</form>
