<div class = "background">
<div class="jumbotron">
  <h1>Hello {{username}},Welcome</h1>
  <br>
  <li><a routerLink="/customer/washpacks" ><p>View WashPacks</p></a></li>
  <li><a routerLink="/customer/order"><p>Place New Order</p></a></li>
  <li><a routerLink="/customer/view" ><p>View Orders</p></a></li>
  <li><a routerLink="/customer/payment"><p>Make Payment</p></a></li>
  <li><a routerLink="/customer/rating"><p>Add Rating</p></a></li>
  <li><a routerLink="/customer/login" (click)="logout()"><p>Log Out</p></a>
</div>
</div>