
{{message}}
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <style media="screen">
      *,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    </style>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form [formGroup]="RegistrationForm" > 
      <br>
        <h3>Register as Washer</h3>

        <label for="id"><span> Enter Id </span> <input type="number" formControlName="id"
          [(ngModel)]="washerDetails.id">
               </label>

        <label for="name"><span> Enter Name </span>
          <input type="text"  placeholder="Name" [(ngModel)]="washerDetails.name" formControlName="name">
          </label>
      <div *ngIf="RegistrationForm.controls['name'].invalid && RegistrationForm.controls['name'].touched" class="alert alert-danger">
        <div *ngIf="RegistrationForm.controls['name'].errors">
        Name is required.
      </div>
      </div>
    
        <label for="password"><span> Enter Password </span>
          <input type="password" placeholder="Password" [(ngModel)]="washerDetails.password" formControlName="password">
          </label>
      <div *ngIf="RegistrationForm.controls['password'].invalid && (RegistrationForm.controls['password'].dirty || RegistrationForm.controls['password'].touched)" class="alert alert-danger">
        <div *ngIf="RegistrationForm.controls['password'].errors">
         Password must be more than 5 letters.
      </div>
      </div>

      <label for="location"><span> Enter Location </span>
        <input type="text" placeholder="Location" [(ngModel)]="washerDetails.location" formControlName="location">
        </label>
    <div *ngIf="RegistrationForm.controls['location'].invalid && (RegistrationForm.controls['location'].dirty || RegistrationForm.controls['location'].touched)" class="alert alert-danger">
      <div *ngIf="RegistrationForm.controls['location'].errors">
       Please enter location
    </div>
    </div>
      <h4><button type="submit" (click)="registerNow()" [disabled]="RegistrationForm.invalid">Register</button></h4>

      <h4><p>Registered? <a routerLink="/carwasher/login">Login Here</a> </p></h4>

    </form> 
</body>
</html>
